body{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    color: burlywood;
    background-color: brown;
}
#title{
    display: grid;
    grid-template-columns: 1fr 354px 276px 1fr;
    text-align: center;
}
#bigger{
    grid-column-start: 2;
}
#smaller{
    font-size: 15px;
    grid-column-start: 3;
    margin: 28px;
}
#info-parent{
    display: grid;
    grid-template-columns: 50% 50%;
}
#info-one{
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 25% 75%;
}
#info-two{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 25% 75%;
}
p{
    grid-column-start: 1;
    margin: 8px;
    padding: 10px;
}
img{
    grid-column-start: 2;
    width: 25%;
    margin: 10px;
}